.site-header {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
}

.site-identity h1 {
font-size: 1.5em;
margin: 0.6em 0;
display: inline-block;
}

.heading-div{
background :  #351c15;
color: white;
}

.subheader-h1{
  font-size: 30px;
  font-weight: 600;
  text-align:center;
background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.padding-size{
  padding: 40px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #351c15;
  color: white;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #351c15;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #351c15;
}
