<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

  <header class="site-header heading-div">
    <div class="site-identity">
      <h1>
        Contact Us
      </h1>
    </div>
  </header>
  <div class="padding-size"></div>

  <table class="styled-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>UPS Email</th>
        <th>LinkedIn / Portfolio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Rushda Mansuri</td>
        <td>rmansuri@ups.com</td>
        <td><a href="https://www.linkedin.com/in/rushda-mansuri-a14a3984/">
            Rushda's Linkedin
          </a></td>
      </tr>
      <tr>
        <td>Srujana Endreddy</td>
        <td>sendreddy@ups.com</td>
        <td><a href="https://www.linkedin.com/in/srujana-endreddy-99024a254/">
            Srujana's Linkedin
          </a></td>
      </tr>
      <tr>
        <td>Sanjeet Vinod Jain</td>
        <td>sanjeetvinodjain@ups.com</td>
        <td><a href="https://sanjeet-jain.github.io/">
            Sanjeet's Portfolio
          </a></td>
      </tr>
      <tr>
        <td>Muthu Arunachalam</td>
        <td>marunachalam@ups.com</td>
        <td><a href="https://www.linkedin.com/in/ganesh-arunachalam/">
            Muthu's Linkedin
          </a></td>
      </tr>
      <tr>
        <td>Harshit Garg</td>
        <td>harshitgarg@ups.com</td>
        <td><a href="https://www.linkedin.com/in/harshit-garg-aa24161a1/">
            Harshit's Linkedin
          </a></td>
      </tr>
    </tbody>
  </table>
  <div class="padding-size"></div>
</body>

</html>