<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>This Site</h3>
                        <ul>
                            <li><a href="../tracking-list/tracking-list.component.html">Tracking</a></li>
                            <li><a href="../reward/reward.component.html">Rewards</a></li>
                            <li><a href="../contact-us/contact-us.component.html">Contact Us</a></li>
                             <li><a href="#">Need Help</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>UPS Sites</h3>
                        <ul>
                            <li><a href="https://about.ups.com/us/en/home.html">About UPS</a></li>
                            <li><a href="https://www.ups.com/us/en/supplychain/Home.page">Supply Chain Solutons</a></li>
                            <li><a href="https://www.theupsstore.com/?loc=en_US">The UPS Store</a></li>
                            <li><a href="https://global.jobs-ups.com/location">UPS Jobs</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Other Sites</h3>
                        <ul>
                            <li><a href="https://www.ups.com/us/en/global.page">Global Home</a></li>
                            <li><a href="https://www.ups.com/us/en/support/shipping-support/legal-terms-conditions.page">Terms and Conditions</a></li>
                            <li><a href="https://www.ups.com/us/en/support/shipping-support/legal-terms-conditions/privacy-notice.page">Privacy Notice</a></li>
                            <li><a href="https://www.ups.com/us/en/support/shipping-support/legal-terms-conditions/fight-fraud.page">Protect Against Fraud</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 item social">
                      <a href="https://www.facebook.com/ups"><i class="icon ion-social-facebook"></i></a>
                      <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FUPS"><i class="icon ion-social-twitter"></i></a>
                      <a href="https://youtube.com/c/UPS"><i class="icon ion-social-youtube"></i></a>
                      <a href="https://www.instagram.com/ups/"><i class="icon ion-social-instagram"></i></a>
                      <a href="https://www.linkedin.com/company/ups/mycompany/verification/"><i class="icon ion-social-linkedin"></i></a>
                      <a href="https://github.com/UPS-API"><i class="icon ion-social-github"></i></a>
                        <p class="copyright">UPS © 2023</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
