:root {
  --primary-color: #212121;
  --background-color: #111;
  --font: sans-serif;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  font-family: var(--font);
  display: flex;
  justify-content: center;
}

/* Timeline Container */
.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
}

/* card-tracker container */
.card-tracker {
  position: relative;
  max-width: 400px;
}

/* setting padding based on even or odd */
.card-tracker:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card-tracker:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card-tracker::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid green;
  z-index: 98;
}

/* Setting the border of top, bottom, left */
.card-tracker:nth-child(odd)::before {
  left: 5px;
  top: -5px;
  bottom: -5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 400px) {
  .card-tracker:nth-child(odd)::before {
    top: -5px;
    bottom: -5px;
  }
}

/* Setting the border of top, bottom, right */
.card-tracker:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card-tracker */
.card-tracker:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card-tracker  and it's odd */
.card-tracker:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card-tracker  and it's even */
.card-tracker:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */

/* Title of the card-tracker */
.title {
  color: orangered;
  position: relative;
}

/* text right if the card-tracker is even  */
.card-tracker:nth-child(even) > .info > .title {
  text-align: right;
}
.card-tracker:nth-child(even) > .info > p {
  text-align: right;
}

.card-tracker:nth-child(even) > .info > i {
  text-align: right;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid orangered;
}
/* setting dot to the left if the card-tracker is odd */
.card-tracker:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card-tracker is odd */
.card-tracker:nth-child(even) > .info > .title::before {
  right: -45px;
}

/* Moving object */
.moving-object-odd {
  position: absolute;
  top: 0;
  left: -20px;
  width: 30px;
  height: 20px;
  animation: moveObject-odd 3s linear;
  z-index: 99;
}
.moving-object-even {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 20px;
  animation: moveObject-even 3s linear;
  z-index: 99;
}

/* Animation for the moving object in odd child cards */
@keyframes moveObject-odd {
  0% {
    left: -20px;
    top: 0;
  }
  50% {
    left: -20px;
    top: 100%;
  }
  100% {
    left: 100%;
    top: 100%;
  }
}

/* Animation for the moving object in even child cards */
@keyframes moveObject-even {
  0% {
    left: 100%;
    top: 0;
  }
  50% {
    left: 100%;
    top: 100%;
  }
  100% {
    left: 0%;
    top: 100%;
  }
}
