<header class="site-header heading-div">
    <div class="site-identity">
        <h1>
            Tracking History
        </h1>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Tracking Number : {{trackingNumber}}</h4>

            </div>
        </div>
    </div>
    <div class="row">

        <div class="col timeline container">
            <div class="outer">
                <div class="card-tracker" *ngFor="let card of cardData; let i = index">
                    <div #movingObject class="moving-object-odd" *ngIf="i === 0"
                        (animationend)="onAnimationEnd(i,movingObject)">
                        <h3>
                            <i class="bi bi-airplane-fill" *ngIf="card.MeansOfTransportation.includes('Air')"></i>
                            <i class="bi bi-truck" *ngIf="card.MeansOfTransportation.includes('Truck')"></i>
                        </h3>
                    </div>
                    <div #movingObject class="moving-object-odd"
                        *ngIf="i!=0 && i%2 === 0 && onAnimationEndArr[i-1]!=false"
                        (animationend)="onAnimationEnd(i,movingObject)">
                        <h3>
                            <i class="bi bi-airplane-fill" *ngIf="card.MeansOfTransportation.includes('Air')"></i>
                            <i class="bi bi-truck" *ngIf="card.MeansOfTransportation.includes('Truck')"></i>
                        </h3>
                    </div>
                    <div #movingObject class="moving-object-even" *ngIf="i % 2 === 1 && onAnimationEndArr[i-1]!=false"
                        (animationend)="onAnimationEnd(i,movingObject)">
                        <h3>
                            <i class="bi bi-airplane-fill" *ngIf="card.MeansOfTransportation.includes('Air')"></i>
                            <i class="bi bi-truck" *ngIf="card.MeansOfTransportation.includes('Truck')"></i>
                        </h3>
                    </div>
                    <div class="info">

                        <h3 class="title">{{ card.Location }} </h3>
                        <p>PackageStatus: {{ card.PackageStatus }}
                            <i class="bi bi-airplane-fill" *ngIf="card.MeansOfTransportation.includes('Air')"></i>
                            <i class="bi bi-truck" *ngIf="card.MeansOfTransportation.includes('Truck')"></i>
                        </p>
                        <p>Transportation Used: {{ card.MeansOfTransportation }}</p>
                    </div>
                </div>


            </div>
        </div>
        <div class="col container">
            <div class="outer">
                <div class="card card-stats" *ngFor="let carbon of carbonFootPrintData">
                    <div class="card-body">
                        <p class="card-text">Trip to Location: {{ carbon.Location }}</p>
                        <p class="card-text">Reward Points Earned: {{ carbon.RewardsPoints.toFixed(0) }}</p>
                        <p class="card-text">Carbon Footprint till the location was {{ carbon.CarbonFootPrint.toFixed(3)
                            }} kg CO2e</p>
                        <p>Percent diff from UPS Average:
                            {{(100*(2.55-carbon.CarbonFootPrint.toFixed(3)*2.205)/2.55).toFixed(3)}}%</p>
                    </div>
                </div>



            </div>
        </div>
    </div>


</div>