.banner {
  background-color: #674929; /* Set the background color for the banner */
  color: #fff; /* Set the text color for the banner */
  padding: 20px; /* Add some padding around the text */
  font-size: 60px; /* Set the font size for the text */
  text-align: left; /* Center align the text */
  font-weight: bold; /* Make the text bold */
  justify-content: bottom; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
}

.sub-text {
  font-size: 40px; /* Set the font size for the sub-text */
  color: darkgoldenrod;
  font-weight: bold;
  text-align: center; /* Center the sub-text horizontally */
}

.sub-text2 {
  font-size: 40px; /* Set the font size for the sub-text */
  color: darkgoldenrod;
}

.claim-button {
  background-color: darkgoldenrod !important;
  color: white;
}
