site-header {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
}

.site-identity h1 {
font-size: 1.5em;
margin: 0.6em 0;
display: inline-block;
}

.heading-div{
background :  #351c15;
color: white;
}

.subheader-h1{
  font-size: 30px;
  font-weight: 600;
  text-align:center;
background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

* {
box-sizing: border-box;
}

.padding-size{
  padding: 15px;
}

/* Float four columns side by side */
.column {
float: left;
width: 50%;
padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}


/* Style the counter cards */
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
background-color: #f1f1f1;
}

.container {
padding: 2px 16px;
}

.img-size{
height:300px;
  width:500px;
}