<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Admin Panel</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#Home" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Reward" routerLink="/Reward">Reward</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#TrackingList" routerLink="/TrackingList">TrackingList</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#TrackingDetail" routerLink="/TrackingDetail">TrackingDetail</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ContactUs" routerLink="/ContactUs">ContactUs</a>
        </li>
        
      </ul>
    </div>
  </nav>
</div>
   
<div class="container">
    <router-outlet></router-outlet>
</div>