<!DOCTYPE htaml>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <header class="site-header">
            <div class="site-identity">
                <img src="https://www.ups.com/assets/resources/webcontent/images/ups-logo.svg"/>
            </div>
            <nav class="site-navigation">
                <ul class="nav">
                    <li><a href="#Home">Profile</a></li>
                    <li><a href="#TrackingList">Track Packages</a></li>
                    <li><a href="#NeedHelp">Need Help</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>